#grid {
    display: grid;
    grid-template-columns: repeat(12, 30px); /* Change the number for a different grid size */
    gap: 5px;
}

#grid div {
    width: 30px;
    height: 30px;
    background-color: black;
}

#grid div.grey {
    background-color: pink; /* Squares that are temporarily grey */
}


#scoreboard {
    margin-bottom: 20px;
}
