#grid {
    display: grid;
    grid-template-columns: repeat(12, 40px); /* Change the number for a different grid size */
    gap: 5px;
}

#grid div {
    width: 40px;
    height: 40px;
    background-color: black;
}

#grid div.grey {
    background-color: pink; /* Squares that are temporarily grey */
}


#scoreboard {
    margin-bottom: 20px;
}
