html {
	text-align: center;
}
button {
    margin: 5px; /* Spacing between buttons */
    font-size: 64px;
}

.scene {
	display: none;
}


/* Start Menu */

.startMenuButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.1s; /* Smooth transition for background color and transform */
}
.startMenuButton:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}
.startMenuButton:active {
    transform: translateY(2px); /* Slight push down effect when clicked */
}


/* Case Scene */

#personsGrid {
  display: grid;
  width: 100%; /* Full width of the parent container */
  height: 70vh; /* Fixed height based on the viewport height */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px; /* Space between grid items */
  padding: 10px;
  background-color: black;
  box-sizing: border-box; /* Includes padding in the element's total width and height */
}
#personsGrid .person {
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: top;
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  overflow: hidden; /* Hide overflow content */
  text-align: center;
  background-color: #fff; /* Background color for visibility */
  color: #000; /* Text color */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

#buttonContainer {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}
