/*

    Item Scene


*/

.item-scene {

    /* Independent Position*/
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 100vw;

    /* True-Center Children */
    justify-content: center;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */

}

.item-scene-background{

    position: absolute;
    height: 150vh;
    width: 300vh;

    /*Background Image*/
    background-image: url('../../Art/Backgrounds/treasure.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 40%;

}

.item-scene-top-text {

    /* Make Self and Children Flexboxes */
    display: flex;

    /* True-Center Children */
    justify-content: center;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */

    /* Give independent position */
    position: fixed;
    top: 0vw;
    left: 0vw;    

    /* Independent Width */
    box-sizing:  border-box;   
    width: 100vw;

    /* Bring to Front*/
    z-index: 1; 

    background-color: black;
}

.item-scene-title {

    /* Font Size */
    font-size: max(12px, 3vw); 

    /* Font Appearance */
    color: #FFF;   
    font-weight: bolder;
}

.item-scene-info {
    /* Font Size */
    font-size: max(12px, 2vw); 

    /* Font Appearance */
    color: #CCC;
}

.item-window {

    position: relative;
    top: 45vh;

    display: flex;       /* Enable Flexbox */
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
}

.item-container {

    position: relative;


    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh
}

.item {

    width: 40vh;
    height: 56vh;

    border: 1vh solid #ddd;
    box-shadow: 0 1vh 2vh rgba(0,0,0,0.1);
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 2vh; /* Some space between cards */

}

.item img {
    width: 35vh;
    height: 35vh;
    object-fit: cover; /* To ensure the image covers the width and height without distortion */
    border-radius: 1vh;
    image-rendering: crisp-edges; /* For pixel art! */
}

.item-title {

    border: 0vh solid #ddd;
    margin: 0 0vh; /* Some space between cards */

    font-size: max(18px, 4vh); 
    font-weight: bold;
    height: max(18px, 4vh);
    overflow: hidden;
}

.item-description {

    border: 0vh solid #ddd;
    margin: 0 0vh; /* Some space between cards */

    text-align: center;
    font-size: max(14px, 3vh); 
    color: #666;
    height: max(42px, 9vh);
    overflow: hidden;
}