/* Resets */
body, div {
    margin: 0;
    padding: 0;
}

.draft-scene, .loss-scene, .win-scene, .item-scene, .fight-scene {
    display:  none;
}

.main-container {

}

.canvas {
    position: relative;
}

/* Define styles for our custom tooltip */
.tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1vh 2vh;
    border-radius: 1vh;
    pointer-events: none; /* Make sure the tooltip doesn't interfere with other interactions */
    display: none; /* Hide by default */
    z-index: 1000; /* Place tooltip on top */
    transition: opacity 0.2s ease; /* Smooth transition for the tooltip */
}













